<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Add User</title>
</head>
<body>
<a href="/">Back</a>
<h1>Add User</h1>
<form action="#" th:action="@{/add}" th:object="${users}" method="post">
    <p>Name: <input type="text" th:field="*{name}" th:charset="utf-8"/></p>
    <p>LastName: <input type="text" th:field="*{lastName}"/></p>
    <p>Age: <input type="text" th:field="*{age}" th:charset="utf-8"/></p>
    <p><input type="submit" value="Add"/></p>
</form>
</body>
</html>